@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html{
    width:100%;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;

    font-family: "Jost", sans-serif;
    font-style: normal;
    color: #4D5053;
}


a{
    color: black;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;

    list-style: none;
}

h1,h2,h3,p{
    padding: 0;
    margin: 0;
    font-weight: 400;
}

h1,h2{
    color: #292F36;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.89vh;
    padding-bottom: 3.33vh;
}

.header_img{
    margin-right: 0.36vw;
}


.navigation_list{
    display: flex;
    gap: 2.86vw;

    font-size: 1rem;
}

.navigation_link {
    transition: 0.3s;
}

.navigation_link:hover{
    color: #CDA274;
    
}

.navigation_button{
    display: none;
}

.navigation_button_icon{
    display:none;
}

.dream_interior{
    margin-bottom: 11.11vh;
    
    background-image: url(../img/dream_interior.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dream_interior_text_wrapper{
    max-width: 42vw;
    padding-top: 15%;
    padding-bottom: 25%;
}

.dream_interior_header{
    margin-bottom: 2.11vh;
    margin-top: 0;

    font-family: "DM Serif Display", serif;
    font-size: 4rem;
    
}

.dream_interior_text{
    margin-bottom: 3.89vh;

    font-size: 1.1rem;
}


/*поменять кнопку*/
.dream_interior_btn{
    height: 70px;
    width: 207px;

    background-image: url(../img/dream_interior_button.png);
}

.dream_interior_btn_link{
    position: relative;
    top: 22px; 

    padding: 22px 85px 22px 34px;
    
    color: white;
    font-size: 18px;
}
/*энд*/


.selection_section .container{
    margin-bottom: 11.11vh;
    display: flex;
    align-items:flex-start; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.select_card{
    max-width: 30%;

    text-align: center;
}

.select_card_name{
    margin-bottom: 1.89vh;

    font-size: 1.25rem;
    font-family: "DM Serif Display", serif;
}

.select_card_text{
    margin-bottom: 5.33vh;

    font-size: 1.1rem;
}

.select_card_link{
    font-size: 0.9rem;
}


.contact_number .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16.67vh;
}

.contact_number_text_block{
    padding-right: 6.94vw;
}

.contact_number_header{
    padding-bottom: 5vh;

    font-family: "DM Serif Display", serif;
    font-size: 2.5rem;
}

.contact_number_text{
    padding-bottom: 3.33vh;

    font-size: 1.1rem;
}

.contact_number_main_section{
    display: flex;
    justify-content: left;
    align-items:center;

    min-width: 50%;
    height: auto;
}

.contact_number_phone_icon{
    padding-right: 2.22vh;
}

.contact_number_main_text{
    font-size: 1.1rem;
}

.contact_number_img{
    min-width: 50%;
}


.reviews .container{
    padding-bottom: 13.33vh;
    margin-bottom: 15.56vh;

    text-align: center;
    background-color: #F4F0EC;
    border-radius: 70px;
}

.reviews_header{
    display: inline-block;
    padding-top: 5.56vh;
    padding-bottom: 5.56vh;
    max-width: 55.56vh;

    font-family: "DM Serif Display", serif;
    font-size: 2.25rem;
}


.reviews_examples_section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.review_block{
    max-width: 25%;
    padding: 0 1.14vw 0 1.14vw;
    background-color: white;
    border-radius: 30px;
}

.review_block:not(:last-child){
    margin-right: 3.33vh;
}

.review_block:first-child{
    margin-left: 5.56vh;
}

.review_block:last-child{
    margin-right: 5.56vh;
}


.review_client_info{
    display: flex;
    gap: 2.22vh;
    padding: 5.56vh 0 2.78vh 0;
}

.review_photo{
    max-width: 5.56vw;
    max-height: 8.89vh;
}

.client_info_text{
    text-align: left;
}

.review_client_name{
    margin: 0;

    font-family: "DM Serif Display", serif;
    font-size: 1.25rem;
}

.review_client_location{
    font-size: 0.9rem;
}

.review_text{
    padding-bottom: 5vh;
    text-align: left;
    font-size: 1rem;
}

.brands_list{
    margin-bottom: 7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.47vw;
}

.recent_projects{
    padding-bottom: 15.56vh;
}

.recent_projects_description{
    padding-bottom: 7.78vh;
    text-align: center;
}

.recent_projects_header{
    padding-bottom: 2.22vh;
    font-family: "DM Serif Display", serif;
    font-size: 2.35rem;
}

.recent_projects_text{
    max-width: 70%;
    display: inline-block;
    font-size: 1.2rem;
}

.recent_projects_examples_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    gap:1.5rem;
    
}

.recent_projects_card{
    flex: 0 1 calc(50% - 0.75rem)
}

.recent_projects_card_photo{
    width: 100%;
    height: auto;

    padding-bottom: 2.67vh;
}

.recent_projcts_bottom_card_part{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.recent_projects_card_name{
    font-family: "DM Serif Display", serif;
    font-size: 1.2rem;
    line-height: 1.85rem;
}

.recent_projects_card_style{
    font-size: 1.1rem;
    
}

.recent_projects_button{
    height: 3.5rem;
    width: 3.5rem;

    display: flex;
    
    justify-content: center;
    align-items: center;
    
    background-color: #F4F0EC;
    border-radius: 50%;
    font-size: 1.5rem;
}


.statistics_container{
    padding: 15.56vh 10% 15.56vh 10%;

    background-color: #F4F0EC;
}

.statictics_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.statistics_item{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.statictics_main_text{
    font-family: "DM Serif Display", serif;
    font-size: 4.25rem;
    line-height: 6.38rem;
    color: #CDA274;
}

.statisctics_text{
    font-size: 1.1rem;
}