@media(max-width: 480px){
    .statistics_item{
        flex: 1 1 50%;
        position: relative;
    }

    .statistics_item:nth-child(2n+1)::after{
        content: "";
        position: absolute;
    
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #CDA274;
        
    }
}